---
---
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html, button, input, select, textarea {
    font-family: sans-serif
}

body {
    margin: 0
}

body *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: .3s background;
}

body *::-webkit-scrollbar-thumb {
  background: #ced4da;
}

body *:hover::-webkit-scrollbar-thumb {
  background: #adb5bd;
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0
}

h3 {
    font-size: 1.17em;
    margin: 1em 0
}

h4 {
    font-size: 1em;
    margin: 1.33em 0
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

pre {
  color: #343a40;
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f8fafc;
  border-radius: 3px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-shadow: 0 1px white;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}

p, pre {
    margin: 1em 0
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}

q {
    quotes: none
}

q:before, q:after {
    content: '';
    content: none
}

small {
    font-size: 75%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

dl, menu, ol, ul {
    margin: 1em 0
}

dd {
    margin: 0 0 0 40px
}

menu, ol, ul {
    padding: 0 0 0 40px
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.highlight {
    border-radius: 3px;
    font-size: 0.9375rem;
    max-height: 40rem;
    background: #fcfcfc
}

.highlight table td {
    padding: 5px
}

.highlight table pre {
    margin: 0
}

.highlight, .highlight .w {
    color: #d0d0d0
}

.highlight pre {
    overflow: auto;
}

.highlight .err {
    color: #151515;
    background-color: #ac4142
}

.highlight .hll {
  background-color: #ffc;
}

.highlight .c {
  color: #999;
}

.highlight .k {
  color: #069;
}

.highlight .o {
  color: #555;
}

.highlight .cm {
  color: #999;
}

.highlight .cp {
  color: #099;
}

.highlight .c1 {
  color: #999;
}

.highlight .cs {
  color: #999;
}

.highlight .gd {
  background-color: #fcc;
  border: 1px solid #c00;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gr {
  color: #f00;
}

.highlight .gh {
  color: #030;
}

.highlight .gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}

.highlight .go {
  color: #aaa;
}

.highlight .gp {
  color: #009;
}

.highlight .gu {
  color: #030;
}

.highlight .gt {
  color: #9c6;
}

.highlight .kc {
  color: #069;
}

.highlight .kd {
  color: #069;
}

.highlight .kn {
  color: #069;
}

.highlight .kp {
  color: #069;
}

.highlight .kr {
  color: #069;
}

.highlight .kt {
  color: #078;
}

.highlight .m {
  color: #f60;
}

.highlight .s {
  color: #d44950;
}

.highlight .na {
  color: #4f9fcf;
}

.highlight .nb {
  color: #366;
}

.highlight .nc {
  color: #0a8;
}

.highlight .no {
  color: #360;
}

.highlight .nd {
  color: #99f;
}

.highlight .ni {
  color: #999;
}

.highlight .ne {
  color: #c00;
}

.highlight .nf {
  color: #c0f;
}

.highlight .nl {
  color: #99f;
}

.highlight .nn {
  color: #0cf;
}

.highlight .nt {
  color: #2f6f9f;
}

.highlight .nv {
  color: #033;
}

.highlight .ow {
  color: #000;
}

.highlight .w {
  color: #bbb;
}

.highlight .mf {
  color: #f60;
}

.highlight .mh {
  color: #f60;
}

.highlight .mi {
  color: #f60;
}

.highlight .mo {
  color: #f60;
}

.highlight .sb {
  color: #c30;
}

.highlight .sc {
  color: #c30;
}

.highlight .sd {
  font-style: italic;
  color: #c30;
}

.highlight .s2 {
  color: #c30;
}

.highlight .se {
  color: #c30;
}

.highlight .sh {
  color: #c30;
}

.highlight .si {
  color: #a00;
}

.highlight .sx {
  color: #c30;
}

.highlight .sr {
  color: #3aa;
}

.highlight .s1 {
  color: #c30;
}

.highlight .ss {
  color: #fc3;
}

.highlight .bp {
  color: #366;
}

.highlight .vc {
  color: #033;
}

.highlight .vg {
  color: #033;
}

.highlight .vi {
  color: #033;
}

.highlight .il {
  color: #f60;
}

.highlight .css .o,
.highlight .css .o + .nt,
.highlight .css .nt + .nt {
  color: #999;
}

.highlight .language-bash::before,
.highlight .language-sh::before {
  color: #009;
  content: "$ ";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlight .language-powershell::before {
  color: #009;
  content: "PM> ";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
    font: 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #495057;
    font-weight: 300;
    margin: 0px;
    padding: 0px 0 20px 0px;
    background: #f5f7fb;
    line-height: 1.5
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin: 0 0 10px
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px
}

h1, h2, h3, h4 {
    line-height: 1.1;
    font-weight: inherit
}

h1 {
    font-size: 28px
}

h2 {
    font-size: 24px;
    color: #393939
}

h3, h4, h5, h6 {
    color: #666666
}

h3 {
    font-size: 18px;
    line-height: 24px
}

a {
    color: #3399cc;
    font-weight: 400;
    text-decoration: none
}

a small {
    font-size: 11px;
    color: #666;
    margin-top: -0.6em;
    display: block
}

ul {
    list-style-image: url("../images/bullet.png")
}

strong {
    font-weight: bold;
    color: #333
}

.wrapper {
    width: 650px;
    margin: 0 auto;
    position: relative
}

section img {
    max-width: 100%;
    padding: 0px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    border-radius: 6px;
}

blockquote {
    border-left: 1px solid #999;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic
}

code {
    font-family: Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    background: #00000006;
    border: 1px solid #0000000d;
    border-radius: 3px;
    padding: 0 4px;
    color: #495057;
    font-size: 13px;
}

pre {
    padding: 8px 15px;
    background: #333333;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    overflow: auto;
    overflow-y: hidden
}

pre code {
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
    color: #495057;
}

table {
    width: 100%;
    border-collapse: collapse
}

th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #444
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5
}

td:first-child {
    border-left: 1px solid #e5e5e5
}

hr {
    border: 0;
    outline: none;
    height: 11px;
    background: transparent url("../images/hr.gif") center center repeat-x;
    margin: 0 0 20px
}

dt {
    color: #444;
    font-weight: 700
}

header {
    width: 140px;
    z-index: initial;
    position: fixed;
    margin-left: 700px;
    margin-top: 32px;
    top: 0;
}

header img {
    height: 88px;
    border-radius: 6px;
}

header h1 {
    color: #fdfdfd;
    text-shadow: 0px 2px 0px #888;
    font-size: 37px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis
}

header p {
    color: #333;
    text-shadow: 0px 2px 0px #716f65;
    font-size: 18px;
    margin: 0px
}

#banner {
    right: 0;
    margin-right: initial;
    z-index: 100;
    left: 0;
    height: 50px;
    position: fixed;
    top: 115px;
    background: #ffcc00;
    border: 1px solid #f0b500;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 2px 2px 0px;
    padding-right: 10px
}

#banner .button {
    border: 1px solid #dba500;
    background: linear_gradient(#ffe788, #ffce38);
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #FFE788;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    display: inline-block;
    text-align: center
}

#banner .button:hover {
    background: linear_gradient(#ffe788, #ffe788);
    background-color: #ffeca0
}

#banner .fork {
    position: fixed;
    left: 50%;
    margin-left: -325px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    background-color: #FFE788
}

#banner .downloads {
    float: right;
    margin: 0 45px 0 0
}

#banner .downloads span {
    float: left;
    line-height: 52px;
    font-size: 90%;
    color: #9d7f0d;
    text-transform: uppercase;
    text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0
}

#banner ul {
    list-style: none;
    height: 40px;
    padding: 0;
    float: left;
    margin-left: 10px
}

#banner ul li {
    display: inline
}

#banner ul li a.button {
    background-color: #FFE788
}

#banner #logo {
    position: absolute;
    height: 36px;
    width: 36px;
    right: 7px;
    top: 7px;
    display: block;
    background: url(../images/octocat-logo.png)
}

section {
    width: 590px;
    padding: 30px 30px 50px 30px;
    margin: 30px 0 20px 0;
    position: relative;
    background: #fbfbfb;
    border-radius: 6px;
    border: 1px solid #0028641f;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)
}

small {
    font-size: 12px
}

nav {
    top: 140px;
    width: 200px;
    position: fixed;
    margin-left: 650px;
    text-align: left
}

nav ul {
    list-style: none;
    list-style-image: none;
    font-size: 14px;
    line-height: 24px
}


nav ul, nav ol {
    list-style: none;
    list-style-image: none
}

nav ul li {
    padding: 5px 0px;
    line-height: 16px
}

nav ul li.tag-h1 {
    font-size: 1.2em;
    line-height: 30px
}

nav ul li.tag-h1 a {
    font-weight: bold;
    color: #afafaf;
    white-space: nowrap
}

nav ul li.tag-h2 + .tag-h1 {
    margin-top: 10px
}

nav ul li.tag-h3 {
    text-indent: 15px
}

nav ul li.active a {
    font-weight: bold;
    color: #313131
}

nav ul li.active a:focus {
    outline: none
}

nav ul a {
    color: #666;
    font-weight: inherit;
    white-space: nowrap
}

nav ul a:hover {
    color: #999
}

footer {
    width: 180px;
    position: fixed;
    margin-left: 670px;
    bottom: 40px;
    text-align: center;
    line-height: 16px
}

@media print, screen and (max-width: 1060px) {
    header {
        width: auto;
        position: initial;
        text-align: center;
        left: 0;
        margin-left: 0
    }

    div.wrapper {
        width: auto;
        margin: 0
    }

    nav {
        display: none
    }

    header, section, footer {
        float: none
    }

    header h1, section h1, footer h1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis
    }

    #banner {
        width: 100%
    }

    #banner .downloads {
        margin-right: 60px
    }

    #banner #logo {
        margin-right: 15px
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px auto;
        margin: 0 auto;
        max-width: 600px
    }

    footer {
        text-align: center;
        margin: 20px auto;
        position: relative;
        left: auto;
        bottom: auto;
        width: auto
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word
    }

    header {
        padding: 20px 20px;
        margin: 0
    }

    header h1 {
        font-size: 32px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis
    }

    header p {
        display: none
    }

    #banner {
        top: 80px
    }

    #banner .fork {
        float: left;
        display: inline-block;
        margin-left: 0px;
        position: fixed;
        left: 20px
    }

    section {
        margin-top: 130px;
        margin-bottom: 0px;
        width: auto
    }

    header ul, header p.view {
        position: static
    }
}

@media print, screen and (max-width: 480px) {
    header {
        position: relative;
        padding: 5px 0px;
        min-height: 0px
    }

    header h1 {
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis
    }

    section {
        margin-top: 5px
    }

    #banner {
        display: none
    }

    header ul {
        display: none
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444
    }
}

@media print, screen and (max-height: 680px) {
    footer {
        text-align: center;
        margin: 20px auto;
        position: relative;
        left: auto;
        bottom: auto;
        width: auto
    }
}

@media print, screen and (max-height: 480px) {
    nav {
        display: none
    }

    footer {
        text-align: center;
        margin: 20px auto;
        position: relative;
        left: auto;
        bottom: auto;
        width: auto
    }
}

ul {
    list-style-image: none;
    list-style-type: square
}

#cnzz_stat_icon_1000069805 {
    display: none
}
